<!-- header -->
<div class="fixed-bodywrapper"></div>
<header class="header-wrapper"  [@visibilityChanged]="visibilityChanged">
    <div class="container-fluid clearfix">
        <a href="/" class="logo-wrpper for-desktop">
            <img src="assets/images/logo.png" alt="Koala Talk">
        </a>
        <a href="/" class="logo-wrpper for-mobile" [class.disabled]="allowOrNot">
            <img src="assets/images/logo-mobile.png" alt="Koala Talk" [class.disabled]="allowOrNot">
        </a>
        <div class="menubar-wrapper clearfix">
            <ul class="navbar-buttons" *ngIf="isLoggedIn">
                <li class="notification">
                    <a href="javascript:void(0);" class="notification-click">
                        <img src="assets/images/bell.png" alt="bell">
                        <span class="badge">0</span>
                    </a>
                    <div class="notification-header">
                        <div class="column read">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            <span>Yesterday, 11:00 AM</span>
                        </div>
                        <div class="column">
                            <p>Alias sed earum, corrupti amet fugit quibusdam, doloribus voluptatum culpa officiis omnis quaerat
                                </p>
                            <span>Yesterday, 11:00 AM</span>
                        </div>
                        <div class="column read">
                            <p>totam praesentium eius dolores ipsam provident saepe. At, fuga.</p>
                            <span>Yesterday, 11:00 AM</span>
                        </div>
                        <div class="column">
                            <p>totam praesentium eius dolores ipsam provident saepe. At, fuga.</p>
                            <span>Yesterday, 11:00 AM</span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="custom-btn gradient-lr" [routerLink]="['./student/student-profile/student-notification']">View All</button>
                        </div>
                    </div>
                </li>
                <li class="message-wrap">
                    <a href="javascript:void(0);">
                        <img src="assets/images/message.png" alt="message">
                        <span class="badge">0</span>
                    </a>
                </li>
                <li class="user-image showdropdown user-profile" *ngIf="userRole==4">
                    <a href="javascript:void(0);">
                        <figure [style.background-image]="'url('+ userProfilePic +')'"></figure>
                        <div class="username">{{userFullName}} </div>
                    </a>
                    <ul class="menudropdown">
                        <li>
                            <a href="javascript:void(0);" [routerLink]="['./student/edit-profile']" routerLinkActive="active">{{'edit-profile' }}</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="goToStudentDashboard()">{{'dashboard' }}</a>
                        </li>
                        <li class="sub-showdropdown">
                            <a href="javascript:void(0);">{{'language' }}</a>
                            <ul class="sub-menudropdown">
                                <li (click)="changeLanguage('en')">
                                    <a href="javascript:void(0);">English</a>
                                </li>
                                <li (click)="changeLanguage('es')">
                                    <a href="javascript:void(0);" (click)="toggleSideMenu()">Spanish</a>
                                </li>
                                <li (click)="changeLanguage('cn')">
                                    <a href="javascript:void(0);" (click)="toggleSideMenu()">Chinese</a>
                                </li>
                                <li (click)="changeLanguage('ko')">
                                    <a href="javascript:void(0);" (click)="toggleSideMenu()">Korean</a>
                                </li>
                                <li (click)="changeLanguage('jp')">
                                    <a href="javascript:void(0);" (click)="toggleSideMenu()">Japanese</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0);" (click)="logOut()"> {{'log-out' }}</a>
                        </li>
                    </ul>
                </li>
                <li class="user-image showdropdown user-profile" *ngIf="userRole==3">
                    <a href="javascript:void(0);">
                        <figure [style.background-image]="'url('+ userProfilePic +')'"></figure>
                        <div class="username">{{userFullName}}</div>
                    </a>
                    <ul class="menudropdown">
                        <li>
                            <a href="javascript:void(0);" [routerLink]="['./teacher/edit-profile']" routerLinkActive="active">{{'edit-profile' }}</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="goToTeacherDashboard()">{{'dashboard' }}</a>
                        </li>
                        <li class="sub-showdropdown">
                            <a href="javascript:void(0);">{{'language' }}</a>
                            <ul class="sub-menudropdown">
                                <li (click)="changeLanguage('en')">
                                    <a href="javascript:void(0);">English</a>
                                </li>
                                <li (click)="changeLanguage('es')">
                                    <a href="javascript:void(0);" (click)="toggleSideMenu()">Spanish</a>
                                </li>
                                <li (click)="changeLanguage('cn')">
                                    <a href="javascript:void(0);" (click)="toggleSideMenu()">Chinese</a>
                                </li>
                                <li (click)="changeLanguage('ko')">
                                    <a href="javascript:void(0);" (click)="toggleSideMenu()">Korean</a>
                                </li>
                                <li (click)="changeLanguage('jp')">
                                    <a href="javascript:void(0);" (click)="toggleSideMenu()">Japanese</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="logOut()">{{'log-out' }}</a>
                        </li>
                    </ul>
                </li>
                <li class="toggle-btnwrap">
                    <div href="javascript:void(0);" class="toggle-button" (click)="toggleSideMenu()" [class.toggle]="isMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
            </ul>
            <ul class="navbar-buttons" *ngIf="!isLoggedIn">
                <li class="login" *ngIf="!allowOrNot">
                    <!-- <a [class.disabled]="allowOrNot" href="javascript:void(0)" (click)="openSecond(loginmodal)">{{'login' }}</a> -->
                    <a  [routerLink]="['/login']">{{'login' }}</a> 
                    <!-- openSecond open -->
                </li>
                <li class="signup" *ngIf="!allowOrNot">
                    <a [class.disabled]="allowOrNot" [routerLink]="['/signup']" class="gradient">{{'sign-up' }}</a>
                </li>
                <li class="toggle-btnwrap">
                    <div href="javascript:void(0);" class="toggle-button" (click)="toggleSideMenu()" [class.toggle]="isMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li class="language showdropdown desktop">
                    <!-- <a href="javascript:void(0);"> {{'select-language' }}</a>
                    <ul class="menudropdown">
                        <li (click)="changeLanguage('en')">
                            <a href="javascript:void(0);">English</a>
                        </li>
                        <li (click)="changeLanguage('es')">
                            <a href="javascript:void(0);" (click)="toggleSideMenu()">Spanish</a>
                        </li>
                        <li (click)="changeLanguage('cn')">
                            <a href="javascript:void(0);" (click)="toggleSideMenu()">Chinese</a>
                        </li>
                        <li (click)="changeLanguage('ko')">
                            <a href="javascript:void(0);" (click)="toggleSideMenu()">Korean</a>
                        </li>
                        <li (click)="changeLanguage('jp')">
                            <a href="javascript:void(0);" (click)="toggleSideMenu()">Japanese</a>
                        </li>
                    </ul> -->
                </li>
            </ul>
        </div>
        <ul class="navbar-list" [class.mobilemenu]="isMenu">
            <li class="toggle-btnwrap">
                <div href="javascript:void(0);" class="toggle-button" (click)="toggleSideMenu()" [class.toggle]="isMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </li>
            <li class="language showdropdown mobile" *ngIf="!allowOrNot">
                <!-- <a href="javascript:void(0);" (click)="togglelanguagedrop()" [class.toggle]="isToggle">{{'select-language' }}</a>
                <ul class="menudropdown" [class.show]="isToggle">
                    <li>
                        <a href="javascript:void(0);">English</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Spanish</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Chinese</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Korean</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Japanese</a>
                    </li>
                </ul> -->
            </li>
            <li>
                <a [class.disabled]="allowOrNot"  (click)="toggleSideMenu()" [routerLink]="['/learner/list']" 
                    routerLinkActive="active"> {{'Find Expert' }} </a>
            </li>
            <li>
                <a [class.disabled]="allowOrNot" href="javascript:void(0);" [routerLink]="['./find-topic']" (click)="toggleSideMenu()">{{'Find Topic' }}</a>
            </li>
            <li class="showdropdown studygroup">
                <a class="" [class.disabled]="allowOrNot" href="javascript:void(0);" (click)="togglestudy()" [class.toggle]="isStudyToggle">
                {{'Dashboard' }}</a>
                <ul class="menudropdown" [class.showstudy]="isStudyToggle">
                    <li>
                        <a href="javascript:void(0);" [routerLink]="['./study-group']" (click)="toggleSideMenu()"> {{'study-group' }}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" [routerLink]="['./practice-room']" (click)="toggleSideMenu()">{{'practice-here' }} </a>
                    </li>
                </ul>
            </li>
            <li>
                <a [class.disabled]="allowOrNot" href="javascript:void(0);" [routerLink]="['./bulletin-board']" routerLinkActive="active"
                    (click)="toggleSideMenu()"> {{'bulletin-board' }}</a>
            </li>
            <li>
                <a [class.disabled]="allowOrNot" href="javascript:void(0);" [routerLink]="['./become-a-tutor']" routerLinkActive="active"
                    (click)="toggleSideMenu()">

                    {{'Become Expert' }}

                </a>
            </li>
        </ul>
    </div>
</header>
<!-- header end-->
