/* header css
*******************************/

.header-wrapper {
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    min-height: 60px;
    padding: 0 20px 0 0;
}

.logo-wrpper {
    float: left;
    padding: 25px 0 20px;
}

.logo-wrpper img {
    width: 150px;
}

.logo-wrpper.for-mobile {
    display: none;
}

.logo-wrpper.for-desktop {
    display: block;
}

.menubar-wrapper {
    float: right;
}


/*-- menu section --*/

.navbar-list {
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.navbar-list>li {
    display: inline-block;
}

.navbar-list>li>a {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    padding: 25px 10px;
    color: #52686e;
    font-weight: 500;
}


/*-- menu end --*/


/*-- navbar-buttons --*/

.navbar-buttons {
    float: right;
    margin-left: 5px;
}

.navbar-buttons>li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.navbar-buttons>li.login a {
    font-size: 16px;
    color: #52686e;
    font-weight: 500;
    border: solid 2px #52686e;
    padding: 8px 18px;
    border-radius: 25px;
    display: block;
    background: #fff;
    margin: 14px 5px;
}

.navbar-buttons>li.login a:hover,
.navbar-buttons>li.login a:focus {
    background: #52686e;
    color: #fff;
}

.navbar-buttons>li.signup a {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 25px;
    display: block;
    margin: 14px 5px;
    border: solid 2px #79b24b;
}

.navbar-list>li>a:hover,
.navbar-list>li>a:focus,
.navbar-list>li>a.active {
    color: #89bd60;
}

.language.showdropdown>a {
    display: block;
    font-size: 14px;
    padding: 25px 5px;
    color: #52686e;
    font-weight: 500;
    position: relative;
}

.language.showdropdown>a:before {
    content: '';
    position: absolute;
    right: -15px;
    top: 28px;
    background: url(../../../../assets/images/down-arrow.png) no-repeat center right;
    background-size: auto;
    width: 15px;
    height: 15px;
}


/*-- navbar-buttons end --*/

.navbar-list .toggle-btnwrap {
    display: none;
}

.language.showdropdown.mobile {
    display: none;
}


/*----------- after login ----------------*/

.notification a,
.message-wrap a {
    display: block;
    position: relative;
    margin: 24px 12px 0;
}

.notification .badge {
    background: #e91000;
}

.message-wrap .badge {
    background: #659b3a;
}

.navbar-buttons .badge {
    position: absolute;
    top: -9px;
    left: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 4px 0;
}

.user-image figure {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin: 0 0 0 15px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.user-image a {
    display: block;
    padding: 10px 0;
}

.username {
    display: inline-block;
    font-size: 16px;
    color: #52686e;
    font-weight: 500;
    padding: 10px 10px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-profileheader {
    margin: -18px 0;
    padding: 13px 15px;
}


/* dropdown here --*/

.user-profile.showdropdown:hover .menudropdown,
.sub-showdropdown:hover .sub-menudropdown {
    visibility: visible;
    opacity: 1;
    transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
}

.user-profile .menudropdown,
.language .menudropdown,
.studygroup .menudropdown {
    position: absolute;
    top: 100%;
    left: auto;
    background: #fff;
    min-width: 140px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 4px 4px;
    visibility: hidden;
    opacity: 0;
}

.user-profile .menudropdown {
    width: 180px;
    right: -20px;
}

.menudropdown li {
    display: block;
    position: relative;
}

.menudropdown li a {
    display: block;
    padding: 10px 15px;
    color: #52686e;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    text-align: left;
}

.menudropdown li a:hover {
    background: rgba(82, 104, 110, 0.2);
}

.menudropdown li a:focus,
.menudropdown li a.active {
    color: #fff;
    background: #89bd60;
    background: -moz-linear-gradient(top, #5d9e2a 0%, #73ad45 50%, #89bd60 100%);
    background: -webkit-linear-gradient(top, #5d9e2a 0%, #73ad45 50%, #89bd60 100%);
    background: linear-gradient(to bottom, #5d9e2a 0%, #73ad45 50%, #89bd60 100%);
}

.sub-menudropdown {
    position: absolute;
    top: 0;
    left: -140px;
    background: #fff;
    min-width: 140px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.sub-showdropdown>a:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 18px;
    background: url(../../../../assets/images/down-arrow.png) no-repeat center right;
    background-size: auto;
    width: 15px;
    height: 15px;
}


/* dropdown end --*/

a.disabled+.menudropdown li a {
    opacity: 0.5;
    pointer-events: none;
}


/* notification */

.notification-header {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 360px;
    margin: 20px 0 0 0;
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: none;
}

.notification-header p {
    font-size: 16px;
    color: #52686e;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.notification-header span {
    font-size: 14px;
    color: #728891;
    font-weight: 100;
    font-style: italic;
}

.notification-header .column {
    padding: 10px 20px;
    border-bottom: solid 1px #ececec;
    background: #f7f7f7;
}

.notification-header .column.read {
    background: #ffffff;
}

.notification-header .column.read p {
    font-weight: 400;
}

.notification-header .custom-btn {
    margin: 20px;
}

.fixed-bodywrapper {
    position: relative;
    z-index: -99;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease-in .3s;
    -moz-transition: opacity ease-in .3s;
    -ms-transition: opacity ease-in .3s;
    -o-transition: opacity ease-in .3s;
    -webkit-transition: opacity ease-in .3s;
}

.fixed-bodywrapper:before {
    content: '';
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.fixed-bodywrapper.show {
    z-index: 9;
    opacity: 1;
    visibility: visible;
}


/* header css end
*******************************/

@media(min-width:1366px) {
    .language.showdropdown:hover .menudropdown,
    .studygroup.showdropdown:hover .menudropdown {
        visibility: visible;
        opacity: 1;
        transition: all ease-in .3s;
        -moz-transition: all ease-in .3s;
        -ms-transition: all ease-in .3s;
        -o-transition: all ease-in .3s;
        -webkit-transition: all ease-in .3s;
    }
}


/* media strat *******************************/

@media(max-width:1366px) {
    .navbar-list>li>a {
        font-size: 13px;
        padding: 20px 8px;
    }
    .navbar-buttons>li.login a {
        font-size: 14px;
        padding: 6px 15px;
        margin: 10px 5px;
    }
    .navbar-buttons>li.signup a {
        font-size: 14px;
        padding: 6px 15px;
        margin: 10px 3px;
    }
    .navbar-buttons>li.language>a {
        font-size: 13px;
        padding: 20px 5px;
    }
    .logo-wrpper {
        padding: 18px 0 15px;
    }
    .navbar-buttons>li.language>a:before {
        top: 22px;
    }
    .menudropdown li a {
        font-size: 14px;
    }
    /* after login */
    .user-image a {
        padding: 5px 0;
    }
    .notification a,
    .message-wrap a {
        margin: 20px 12px 0;
    }
}

@media(max-width:1100px) {
    .menubar-wrapper {
        position: relative;
        padding: 0 15px 0 0;
    }
    .navbar-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
        z-index: 9;
        padding: 60px 0 0 0;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform-origin: top right;
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
    }
    .navbar-list.mobilemenu {
        left: 0;
        bottom: 0;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
    }
    .navbar-list .toggle-btnwrap {
        right: 0;
        position: absolute;
        top: 0;
        padding: 20px;
        display: block;
    }
    /* toggle btn */
    .navbar-buttons .toggle-btnwrap {
        display: block;
        position: absolute;
        right: -35px;
        top: 0;
        padding: 20px 10px;
    }
    .toggle-button {
        width: 30px;
        height: 21px;
        display: block;
        position: relative;
        padding: 0 !important;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .toggle-button span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #64a332;
        border-radius: 10px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .toggle-button span:nth-child(1) {
        top: 0px;
    }
    .toggle-button span:nth-child(2),
    .toggle-button span:nth-child(3) {
        top: 8px;
    }
    .toggle-button span:nth-child(4) {
        top: 17px;
    }
    .toggle-button.toggle span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    .toggle-button.toggle span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .toggle-button.toggle span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .toggle-button.toggle span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    /* toggle btn */
    .navbar-list>li {
        display: block;
        text-align: left;
    }
    .language.showdropdown.desktop {
        display: none;
    }
    .language.showdropdown.mobile {
        display: block;
    }
    .language.showdropdown>a:before {
        right: 20px;
        top: 22px;
    }
    .navbar-list>li>a {
        border-bottom: solid 1px #ececec;
        font-size: 14px;
        padding: 20px 25px;
    }
    .navbar-list>li>a:hover,
    .navbar-list>li>a:focus {
        background: #f1f1f1;
    }
    .navbar-list li a:focus,
    .navbar-list li a.toggle {
        color: #fff;
        background: #89bd60;
        background: -moz-linear-gradient(top, #5d9e2a 0%, #73ad45 50%, #89bd60 100%);
        background: -webkit-linear-gradient(top, #5d9e2a 0%, #73ad45 50%, #89bd60 100%);
        background: linear-gradient(to bottom, #5d9e2a 0%, #73ad45 50%, #89bd60 100%);
    }
    .navbar-list>li {
        position: relative;
    }
    .studygroup.showdropdown>a:before {
        content: '';
        position: absolute;
        right: 20px;
        top: 22px;
        background: url(../../../../assets/images/down-arrow.png) no-repeat center right;
        background-size: auto;
        width: 15px;
        height: 15px;
    }
    .language .menudropdown,
    .studygroup .menudropdown {
        position: relative;
        top: 0;
        left: auto;
        background: #fff;
        min-width: auto;
        box-shadow: none;
        border-radius: 0;
        visibility: hidden;
        opacity: 0;
        background: #f9f9f9;
        height: 0;
    }
    .language .menudropdown.show,
    .studygroup .menudropdown.showstudy {
        visibility: visible;
        height: 100%;
        opacity: 1;
    }
    .language .menudropdown li a,
    .studygroup .menudropdown li a {
        font-size: 15px;
        padding: 15px 25px;
        border-bottom: solid 1px #ececec;
    }
    /* after login  */
}

@media(max-width:768px) {
    .logo-wrpper.for-mobile {
        display: block;
    }
    .logo-wrpper.for-desktop {
        display: none;
    }
    .logo-wrpper {
        padding: 8px 0 0;
    }
    .logo-wrpper img {
        width: auto;
    }
    .language .menudropdown li a,
    .studygroup .menudropdown li a {
        font-size: 14px;
        padding: 10px 25px;
    }
    .navbar-list>li>a {
        font-size: 13px;
        padding: 21px 25px;
    }
    .username {
        display: none;
    }
    .showdropdown.user-profile {
        padding: 0 0 10px;
    }
    .user-profile .menudropdown {
        width: 140px;
    }
    .sub-menudropdown {
        left: -100px;
        min-width: 100px;
    }
}


/* 
@media(max-width:1199px) {
    .navbar-buttons .toggle-button {
        display: block;
    }
    .toggle-button {
        padding: 30px 10px;
        position: absolute !important;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    .toggle-button span {
        display: block;
        background: #67ab33;
        height: 3px;
        width: 30px;
        border-radius: 4px;
        margin: 3px 0;
    }
    .toggle-button span:nth-child(2) {
        width: 18px;
    }
    .toggle-button.toggle span:nth-child(2) {
        width: 30px;
    }
    .navbar-buttons {
        position: relative;
        padding-right: 70px;
    }
    .navbar-list {
        position: fixed;
        top: 80px;
        right: -200px;
        bottom: 0;
        width: 200px;
        z-index: 9;
        background: #79b24b;
        background: -moz-linear-gradient(left, #79b24b 0%, #4d9316 100%);
        background: -webkit-linear-gradient(left, #79b24b 0%, #4d9316 100%);
        background: linear-gradient(to right, #79b24b 0%, #4d9316 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#79b24b', endColorstr='#4d9316', GradientType=1);
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
    }
    .navbar-list.mobilemenu {
        right: 0;
    }
    .navbar-list>li {
        display: block;
        position: relative;
    }
    .navbar-list>li>a,
    .navbar-list .menudropdown li a {
        font-size: 14px;
        padding: 20px 20px;
        color: #284214;
        border-bottom: solid 1px #568e2b;
        text-align: left;
        text-transform: uppercase;
    }
    .navbar-list .menudropdown li:last-child a {
        border-bottom: none;
    }
    .navbar-list>li>a:hover,
    .navbar-list>li>a:focus,
    .navbar-list>li>a.active,
    .navbar-list .menudropdown li a:hover,
    .navbar-list .menudropdown li a:focus,
    .navbar-list .menudropdown li a.active {
        color: #ffffff;
        background: #89bd60;
        background: -moz-linear-gradient(top, #5d9e2a 0%, #73ad45 50%, #89bd60 100%);
        background: -webkit-linear-gradient(top, #5d9e2a 0%, #73ad45 50%, #89bd60 100%);
        background: linear-gradient(to bottom, #5d9e2a 0%, #73ad45 50%, #89bd60 100%);
    }
    .language .input-wrap:before {
        top: 13px;
    }
    .navbar-list {
        overflow: visible;
    }
    .navbar-list .menudropdown {
        right: 200px;
        width: 180px;
        top: 0;
        background: #79b24b;
        background: -moz-linear-gradient(left, #79b24b 0%, #4d9316 100%);
        background: -webkit-linear-gradient(left, #79b24b 0%, #4d9316 100%);
        background: linear-gradient(to right, #79b24b 0%, #4d9316 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#79b24b', endColorstr='#4d9316', GradientType=1);
    }
}

@media(max-width:767px) {
    .navbar-buttons>li {
        padding: 12px 0;
    }
    .custom-select {
        font-size: 12px;
    }
    .navbar-buttons>li.signup a {
        font-size: 12px;
        padding: 8px 10px;
        margin: 0px;
    }
    .navbar-buttons>li.login a {
        font-size: 12px;
        padding: 6px 10px;
        margin: 0px;
    }
    .logo-wrpper img {
        width: 130px;
    }
    .logo-wrpper {
        padding: 22px 0 10px;
    }
    .body-wrapper {
        padding-top: 58px;
    }
    .navbar-list {
        top: 64px;
    }
    .menudropdown>li>a {
        font-size: 14px;
    }
    .menudropdown.active {
        height: 185px;
    }
    .notification a,
    .message-wrap a {
        margin: 10px 6px 0;
    }
    .user-image figure {
        width: 40px;
        height: 40px;
        margin: 0 0 0 8px;
    }
    .username {
        font-size: 14px;
        padding: 9px 5px 0;
    }
    .toggle-button {
        top: 8px;
    }
    .user-image a {
        padding: 0;
    }
    .navbar-buttons>li.language>a {
        font-size: 13px;
        padding: 8px 5px;
    }
    .navbar-buttons>li.language>a:before {
        top: 10px;
    }
    .header-wrapper {
        padding: 0 0;
    }
    .navbar-buttons {
        padding-right: 55px;
    }
}

@media (max-width:480px) {
    .toggle-button {
        top: -30px;
    }
    .logo-wrpper {
        padding: 10px 0 5px;
    }
    .menubar-wrapper {
        float: right;
        width: 100%;
    }
    .navbar-buttons>li {
        padding: 4px 2px 10px;
    }
    .navbar-buttons {
        padding-right: 15px;
    }
    .navbar-list {
        top: 92px;
        right: -150px;
        width: 150px;
    }
    .navbar-list>li>a,
    .navbar-list .menudropdown li a {
        font-size: 12px;
        padding: 15px 20px;
    }
    .navbar-list .menudropdown {
        right: 150px;
        width: 150px;
    }
} */