<div class="datasecwrapper-inner favourite-wrap clearfix">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6" *ngFor="let fav of favTeacherList;let i=index">
          <div class="column">
              <a href="javascript:void(0)" (click)="openConfirMationPopUp(fav._id,i)" class="unfriend-icon"><img src="assets/images/unfriend-icon.png" alt=""></a>

              <figure class="profileimage"[style.background-image]="'url('+ fav.image +')'"></figure>
              
              <span class="message">{{'message'}}</span>
              <h2 class="user-name">{{fav.firstName}} {{fav.lastName}}</h2>
              <span class="rating-star">
                      <span [style.width]="getRating(fav?.rating)"></span>
                  <!-- <span style="width:76%"></span> -->
              </span>
              
              <p class="doller-value">$ 15 - 40/Hr</p>
              <ul class="details-wrap clearfix">
                  <li>
                      <p class="label-withicon">
                          <span class="icon"><img src="assets/images/globe.png" alt=""></span>
                          <span>{{'from'}}</span> <br> {{fav.countryName}}
                      </p>
                  </li>
                  <li>
                      <p class="label-withicon">
                          <span class="icon"><img src="assets/images/marker.png" alt=""></span>
                          <span>{{'timezone'}}</span><br>{{fav.timeZone}}
                      </p>
                  </li>
                  <li>
                      <p class="label-withicon">
                          <span class="icon"><img src="assets/images/edu-icon.png" alt=""></span>
                          <span>{{'teaching'}}</span><br> {{fav.teachLanguage}}
                      </p>
                  </li>
                  <li>
                      <p class="label-withicon">
                          <span class="icon"><img src="assets/images/watch.png" alt=""></span>
                          <span>{{'lessons'}}</span><br> 10
                      </p>
                  </li>
              </ul>
              <a href="javascript:void(0);" [routerLink]="['../../../../../teacher/details',fav._id]" class="custom-btn book-btn">{{'book'}}</a>
          </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="favTeacherList.length<=0">
          <div class="column">
              <h2 class="user-name">{{'no-record-found'}}</h2>
          </div>
      </div>   
  </div>
</div>

<div class="modal fade" id="unfollowTeacher" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm create-modal">
      <div class="modal-content">
          <div class="modal-header">
              <button class="modal-cross" data-dismiss="modal" type="button">
                      <img  alt="close" src="assets/images/cancel.png">
                  </button>
              <h4 class="modal-title">{{'confirmation'}}</h4>
          </div>
          <div class="modal-body text-center">
              <p>{{'are-you-sure-want-to-unfollow-the-tutor'}}</p>
          </div>
          <div class="modal-footer text-center">
              <button type="button" class="custom-btn gradient save" (click)="unfollowTeacher()">{{'confirm'}}</button>
              <button type="button" class="custom-btn delete" data-dismiss="modal">{{'close'}}</button>
          </div>
      </div>

  </div>
</div>
