<div class="datasecwrapper-inner">
    <div class="text-center">
        <h2 class="titleheading small">Change Password</h2>
    </div>
    <form action="" class="password-wrap">
        <div class="form-group">
            <label for="" class="input-label">Current Password</label>
            <div class="input-wrap">
                <input type="text" class="" value="" placeholder="Current Password">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="input-label">New Password</label>
            <div class="input-wrap">
                <input type="text" class="" value="" placeholder="New Password">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="input-label">Confirm Password</label>
            <div class="input-wrap">
                <input type="text" class="" value="" placeholder="Confirm Password">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="custom-btn gradient-lr">Save</button>
        </div>
    </form>
</div>