<div class="datasecwrapper-inner lessondetail-wrap clearfix">
  <div class="row">
      <div class="col-sm-12 col-md-6">
          <div class="datacol clearfix">
              <div class="article-head">
                  <button type="button" class="classes-btn">1 Hr. Classes</button>
                  <h2>Business Program</h2>
                  <label class="label-form">English</label>
              </div>
              <div class="left">
                  <figure class="profileimage" style="background-image: url('assets/images/user1.jpg')"></figure>
                  <a href="javascript:void(0)" class="message">Message</a>
              </div>
              <div class="right">
                  <span class="date-time">May 01, 2017</span>
                  <h2>Michelle Pal</h2>
                  <span class="rating-star"><span style="width:76%"></span></span>
                  <hr class="devider">
                  <label class="label-form">Method of Class</label>
                  <mat-radio-group class="classes">
                      <mat-radio-button value="1" class="radio-wrapper" checked>Video </mat-radio-button>
                      <mat-radio-button value="2" class="radio-wrapper">Audio</mat-radio-button>
                  </mat-radio-group>
              </div>
              <a href="javascript:void(0);" class="custom-btn full" [routerLink]="['../../view-edit-lesson']">View & Edit </a>
          </div>
      </div>
      <div class="col-sm-12 col-md-6">
          <div class="datacol clearfix">
              <div class="article-head">
                  <button type="button" class="classes-btn">1 Hr. Classes</button>
                  <h2>Business Program</h2>
                  <label class="label-form">English</label>
              </div>
              <div class="left">
                  <figure class="profileimage" style="background-image: url('assets/images/user1.jpg')"></figure>
                  <a href="javascript:void(0)" class="message">Message</a>
              </div>
              <div class="right">
                  <span class="date-time">May 01, 2017</span>
                  <h2>Michelle Pal</h2>
                  <span class="rating-star"><span style="width:76%"></span></span>
                  <hr class="devider">
                  <label class="label-form">Method of Class</label>
                  <mat-radio-group class="classes">
                      <mat-radio-button value="1" class="radio-wrapper" checked>Video </mat-radio-button>
                      <mat-radio-button value="2" class="radio-wrapper">Audio</mat-radio-button>
                  </mat-radio-group>
              </div>
              <a href="javascript:void(0);" class="custom-btn full">View & Edit </a>
          </div>
      </div>
      <div class="col-sm-12 col-md-6">
          <div class="datacol clearfix">
              <div class="article-head">
                  <button type="button" class="classes-btn">1 Hr. Classes</button>
                  <h2>Business Program</h2>
                  <label class="label-form">English</label>
              </div>
              <div class="left">
                  <figure class="profileimage" style="background-image: url('assets/images/user1.jpg')"></figure>
                  <a href="javascript:void(0)" class="message">Message</a>
              </div>
              <div class="right">
                  <span class="date-time">May 01, 2017</span>
                  <h2>Michelle Pal</h2>
                  <span class="rating-star"><span style="width:76%"></span></span>
                  <hr class="devider">
                  <label class="label-form">Method of Class</label>
                  <mat-radio-group class="classes">
                      <mat-radio-button value="1" class="radio-wrapper" checked>Video </mat-radio-button>
                      <mat-radio-button value="2" class="radio-wrapper">Audio</mat-radio-button>
                  </mat-radio-group>
              </div>
              <a href="javascript:void(0);" class="custom-btn full">View & Edit </a>
          </div>
      </div>
      <div class="col-sm-12 col-md-6">
          <div class="datacol clearfix">
              <div class="article-head">
                  <button type="button" class="classes-btn">1 Hr. Classes</button>
                  <h2>Business Program</h2>
                  <label class="label-form">English</label>
              </div>
              <div class="left">
                  <figure class="profileimage" style="background-image: url('assets/images/user1.jpg')"></figure>
                  <a href="javascript:void(0)" class="message">Message</a>
              </div>
              <div class="right">
                  <span class="date-time">May 01, 2017</span>
                  <h2>Michelle Pal</h2>
                  <span class="rating-star"><span style="width:76%"></span></span>
                  <hr class="devider">
                  <label class="label-form">Method of Class</label>
                  <mat-radio-group class="classes">
                      <mat-radio-button value="1" class="radio-wrapper" checked>Video </mat-radio-button>
                      <mat-radio-button value="2" class="radio-wrapper">Audio</mat-radio-button>
                  </mat-radio-group>
              </div>
              <a href="javascript:void(0);" class="custom-btn full">View & Edit </a>
          </div>
      </div>
      <div class="col-sm-12 col-md-12  text-center">
          <a href="javascropt:void(0);" class="view-more">See More</a>
      </div>

  </div>
</div>


<div class="datasecwrapper-inner lessondetail-wrap clearfix">
  <app-topic-status-calender></app-topic-status-calender>
</div>