<div class="custom-tabs withbg clearfix">
  <a href="javascript:void(0);" [routerLink]="[ './scheduled-topic']" routerLinkActive="active" class="tabs_1">{{'Scheduled-Topic'}}</a>
  <a href="javascript:void(0);" [routerLink]="[ './unscheduled-topic']" routerLinkActive="active" class="tabs_2">{{'Unscheduled-Topic'}}</a>
  <a href="javascript:void(0);" [routerLink]="[ './past-topic']" routerLinkActive="active" class="tabs_3">{{'Past-Topic'}}</a>
  <a href="javascript:void(0);" [routerLink]="[ './favourite-expert']" routerLinkActive="active" class="tabs_4">{{'Favourite-Expert'}}</a>
  <div class="underline"></div>
</div>

<router-outlet></router-outlet>