<div class="datasecwrapper-inner lessondetail-wrap clearfix">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="datacol clearfix">
                <div class="article-head">
                    <h2>TOEFL Preparation Course</h2>
                </div>
                <div class="left">
                    <figure class="profileimage" style="background-image: url('assets/images/user1.jpg')"></figure>
                    <a href="javascript:void(0)" class="message">Message</a>
                </div>
                <div class="right">
                    <h2>Michelle Pal</h2>
                    <span class="rating-star"><span style="width:76%"></span></span>
                    <hr class="devider">
                    <label class="label-form withvalue">Topics: <span>None</span></label>
                    <label class="label-form withvalue">Lesson Type: <span>Regular</span></label>
                    <p class="classes-info">Require To Schedule 3 More Lessons</p>
                </div>
                <a href="javascript:void(0);" class="custom-btn full">Schedule </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="datacol clearfix">
                <div class="article-head">
                    <h2>TOEFL Preparation Course</h2>
                </div>
                <div class="left">
                    <figure class="profileimage" style="background-image: url('assets/images/user1.jpg')"></figure>
                    <a href="javascript:void(0)" class="message">Message</a>
                </div>
                <div class="right">
                    <h2>Michelle Pal</h2>
                    <span class="rating-star"><span style="width:76%"></span></span>
                    <hr class="devider">
                    <label class="label-form withvalue">Topics: <span>None</span></label>
                    <label class="label-form withvalue">Lesson Type: <span>Regular</span></label>
                    <p class="classes-info">Require To Schedule 3 More Lessons</p>
                </div>
                <a href="javascript:void(0);" class="custom-btn full">Schedule </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="datacol clearfix">
                <div class="article-head">
                    <h2>TOEFL Preparation Course</h2>
                </div>
                <div class="left">
                    <figure class="profileimage" style="background-image: url('assets/images/user1.jpg')"></figure>
                    <a href="javascript:void(0)" class="message">Message</a>
                </div>
                <div class="right">
                    <h2>Michelle Pal</h2>
                    <span class="rating-star"><span style="width:76%"></span></span>
                    <hr class="devider">
                    <label class="label-form withvalue">Topics: <span>None</span></label>
                    <label class="label-form withvalue">Lesson Type: <span>Regular</span></label>
                    <p class="classes-info">Require To Schedule 3 More Lessons</p>
                </div>
                <a href="javascript:void(0);" class="custom-btn full">Schedule </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="datacol clearfix">
                <div class="article-head">
                    <h2>TOEFL Preparation Course</h2>
                </div>
                <div class="left">
                    <figure class="profileimage" style="background-image: url('assets/images/user1.jpg')"></figure>
                    <a href="javascript:void(0)" class="message">Message</a>
                </div>
                <div class="right">
                    <h2>Michelle Pal</h2>
                    <span class="rating-star"><span style="width:76%"></span></span>
                    <hr class="devider">
                    <label class="label-form withvalue">Topics: <span>None</span></label>
                    <label class="label-form withvalue">Lesson Type: <span>Regular</span></label>
                    <p class="classes-info">Require To Schedule 3 More Lessons</p>
                </div>
                <a href="javascript:void(0);" class="custom-btn full">Schedule </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12  text-center">
            <a href="javascropt:void(0);" class="view-more">See More</a>
        </div>
    </div>
</div>

<div class="datasecwrapper-inner lessondetail-wrap clearfix">
    <!-- <app-student-status-calendar></app-student-status-calendar> -->
</div>